.menulogin{
    height: 740px;
    width: 410px;
}
h1{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}
.nom{
    width: 200px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 40%;
    border-radius: 10px;
}
.sen{
    width: 200px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 10px;
}
.log{
    width: 450px;
    height: 860px;
    position: fixed;
    margin-left: -685px;
    margin-top: -150px;
}
.cadastrar{
    font-size: 100px;
    position: fixed;
    top: 18%;
    left: 59%;
}
.Cadast{
    position: fixed;
    top: 70%;
    left: 49%;
    border-radius: 10px;
    height: 70px;
}
.img-upload{
    position: fixed;
    top: 62%;
}
.plog{
    position: fixed;
    top: 80%;
    left: 48%;
    color: white;
}
.preview-avatar{
    height: 50px;
    width: 50px;
    margin-top: 28%;
}
.img-upload{
    margin-left: 5%;
}